!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_mars.login-page.application
    = render "layouts/broadcast"
    = render "layouts/public_head_panel", title: ''
    .container.navless-container
      .content
        = render "layouts/flash"
        .row.prepend-top-20
          .col-sm-5.pull-right
            = yield
          .col-sm-7.brand-holder.pull-left
            %h1 ibiart 私有git仓库
            - if brand_item
              = brand_image
              = brand_text
            - else
              %h3 We collaborate. We create. We work for ourselves.

              %p
                请使用个人账号登陆。申请账号请联系管理员。

            - if extra_sign_in_text.present?
              = markdown(extra_sign_in_text)

    %hr
    .container
      .footer-links
        = link_to "About ibiart", "http://www.ibiart.com/"
